{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    
    {{ include('profile/_formProfile.html.twig', {'button_label': 'Update'}) }}
    <center>
    <a href="{{ path('app_articles_index') }}">back to Articles</a>
    </center>
    
{% endblock %}
