{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    
    {{ include('profile/_formProfileAdmin.html.twig', {'button_label': 'Update'}) }}
    <center>
    <a href="{{path('backend_user_index')}}">back to User List</a>
    </center>
    
{% endblock %}
