<form method="post" action="{{ path('app_team_mates_delete', {'riotId': team_mate.riotId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team_mate.riotId) }}">
    <button class="btn">Delete</button>
</form>
