{% extends 'base.html.twig' %}

<!-- Riot API Section -->
<div class="sidebar-search">

    <div class="input-group custom-search-form">
        <<label for="riot-summoner-input">Search a Summoner</label><br>
        <input type="text" id="riot-summoner-input" class="form-control" placeholder="Type summoner name..." style="margin-bottom: 20px">
        <button type="button" id="valid-summoner">Search</button>
    </div>
</div>

<div id="display-summonerLevel"></div>
{% block js %}
<script>
    let res = {{ summoner.summonerLevel }}
        $(document).ready(function() {
            // Get value on button click and pass it back to controller
            $("#valid-summoner").click(function () {
                const summoner_input = $("#riot-summoner-input").val();
                console.log(summoner_input)


                history.replaceState(summoner_input, 'Coach Index', url);
                console.log(url)
                function loadXMLDoc()
                {
                    document.getElementById("display-summonerLevel").innerHTML = `Summoner Level: <h2>${res}</h2>`
                }
                loadXMLDoc();
            });
        });
</script>
{% endblock %}